.profile {
  margin-right: 10px;
}

.allcirdd-items>li>a {
  text-decoration: none;
  padding: 5px;
  margin-top: 15px;
}

.allcirdd-items>li:hover {
  display: block;
  background-color: #d7dcdf;
}

.txttoimgdiv{
  display: block;
  position: relative;
  border-radius: 3px;
  padding-top: 3px;
  width: 27px;
  height: 25px;
}
.txttoimg {
  width: "100%";
  display: flex;
  justify-content: center;
  position: "absolute";
  color: white;
  font-size: 12px;
  font-weight: 600;
}