.taskheaderbtn {
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

#taskheadermarkcomp {
  max-height: 30px;
  background-color: rgb(34, 80, 230);
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 2px;
}

.subtitle {
  font-weight: 600;
  font-size: 15px;
  display: flex;
  padding: 0px;
  margin-bottom: 5px;
}

.subtitle-description {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

/* TASK FILE DOWNLOAD OPTIONS */
.taskfileimg {
  margin: 50px 10px 10px;
  display: flex;
  justify-content: left;
}
.taskfile-img {
  border-radius: 8px;
}

.task-file {
  border: 1px solid #c2c8ca;
  width: 250px;
  border-radius: 8px;
  margin-left: 10px;
  display: flex;
}

.task-file-text{
  font-size: 15px;
  margin: -5px 0px;
  padding: 0px;
}

/* TASK COMMENT BOX */
#taskcmtbody{
  margin: 0% 0%;
  overflow: clip;
  max-height: 190px;
}

.footer {
  display: flex;
  justify-content: space-between;
}



/* DROPDOWN */
@media screen and (max-width: 776px) {
  #task-dots-dropdown-content{
    margin-left: -25%;
  }
}
#task-dots-dropdown-content{
  display:block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;

}
 .tdbtn {
  display: block;
  background-color: white;
  font-weight: 600;
}
 .tdbtn:hover {
  color: #176a75;
}
 .tdbtndel {
  display: block;
  background-color: white;
  font-weight: 600;

}
 .tdbtndel:hover {
  color: red;
}

#taskcmtreplybox{
  display:block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  margin-top: 25px;
  padding: 2px 2px;
  z-index: 1;
  border-radius: 5px;
  width: fit-content;
}
#taskcmtreplybox-input{
  margin: 0px 0px;
  max-width: 350px;
  min-width: 300px;
}
.Tasktxttoimgdiv{
  display: block;
  position: relative;
  border-radius: 20px;
  padding-top: 2px;
  width: 37px;
  height: 25px;
}
.Tasktxttoimg {
  width: "100%";
  display: flex;
  justify-content: center;
  position: "absolute";
  color: white;
  font-weight: 600;
}