#cmttitle {
  padding-top: 5px;
}

#cmtbody {
  padding: 1px 0px 10px 0px;
  font-size: 90%;
}

.likereply {
  margin: -10px 20px 0px 20px;
  font-size: 80%;
  text-decoration: none;
  color: black;
}

#commentshow {
  color: black;
}
.wallcmtbtnspin{
  display: flex;
  justify-content: center;
}
#cmtinputform{
  width:100%;
}

.hoveredimg{
  position: absolute;
  z-index: 1;
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px;
}

.wallcmt-dots-dropdown-content{
  display:block;
  float: right;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  z-index: 1;
}

