#cmttitle {
  padding-top: 5px;
}

#cmtbody {
  padding: 1px 0px 10px 0px;
  font-size: 90%;
}

.likereply {
  margin: -10px 20px 0px 20px;
  font-size: 80%;
  text-decoration: none;
  color: black;
}

#commentshow {
  color: black;
}
.wallcmtbtnspin{
  display: flex;
  justify-content: center;
}
#cmtinputform{
  width:100%;
}
