.scform{
  margin: 10px 10px;
  display: block;
}
#addpostinput{
  width: 145%;
}
@media screen and (max-width: 1199px) {
  #addpostinput{
    width: 95%;
  }
}
.inputbtn{
  width: 90%;
  margin-left: 30px;
}
.submitbtn{
  display: flex;
  margin-left: 780px;
}