.inputbtn{
  width: 90%;
  margin-left: 30px;
}
.submitbtn{
  display: flex;
  margin-left: 780px;
}
.addpostbtngroup{
  display: flex;
  justify-content: space-between;
}
.uploadbtn{
  margin:20px;
  border-radius: 5px;
}