#b1 {
  margin-left: 6px;
  padding: 4px 15px;
  background-color: #4D6D7F;
  color: white;
  border: 1px solid #4D6D7F;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}

#b1:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}

.dropdown-menu >li >a {
  color: black;
  padding: 4px 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.dropdown-menu >li:hover {
  background-color: #3f5b6d;
  border-left: 3px solid #21A1B3;
}

.dropdown-header:hover .dropdown-header-content {
  display: block;
}
#headerdropsec{
  min-width:130px;
}
#headerrightbtns{
  display: flex;
}