.globalbtn{
  height: 30px;
  min-width: 75px;
  min-height: 35px;
  background-color: #435F6F;
  color: white;
  border: 1px solid #435F6F;
  border-radius: 4px;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  font-size: 15px;
  font-weight: 500;
}
.globalbtnspin{
  display: flex;
  justify-content: center;
}


