.globalbtn{
  height: 30px;
  min-width: 75px;
  min-height: 35px;
  background-color: #435F6F;
  color: white;
  border: 1px solid #435F6F;
  border-radius: 4px;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  font-size: 15px;
  font-weight: 500;
}
.globalbtn:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  cursor: pointer;
  background-color: #344a57;
}
.globalbtnspin{
  display: flex;
  justify-content: center;
}

/* Disable css */
button{
  /* margin: 0px;
  padding: 0px; */
  border: none;
  /* background-color: white; */
}
.colors{
  color: #3f5b6d;
  border-left: 3px solid #21A1B3;
}